<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, id: "notice") %>
  <% end %>

<%= yield %>
</div>
</body>
</html>
